<div class="container-fluid">
  <div class="row mb-4 align-items-center">
    <div class="col-sm-6">
      <div class="page-title-box p-0">
        <h4 class="mb-0 font-size-18">Anomalies de rubriques</h4>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-xl-5">
      <div class="card">
        <div class="card-body">
          <div class="row">
            <label class="col-md-auto col-form-label text-muted" style="font-size: 110%">Seuil de détection :</label>
            <div class="col-md">
              <select class="form-select">
                <option>Faible</option>
              </select>
            </div>
            <div class="col-md-auto">
              <button type="button" class="btn btn-info">Visualiser</button>
            </div>
          </div>
        </div>
      </div>
      <div class="card">
        <div class="card-body">
          <div class="row">
            <label class="col-md-auto col-form-label text-muted" style="font-size: 110%">Sélectionner une catégorie :</label>
            <div class="col-md">
              <select class="form-select">
                <option>Employé</option>
              </select>
            </div>
          </div>
        </div>
      </div>
      <div class="card">
        <div class="card-body">
          <h4 class="card-title mb-0">Représentation graphique des anomalies</h4>
          <apx-chart [series]="chartOptions.series" [chart]="chartOptions.chart" [xaxis]="chartOptions.xaxis"
            [fill]="chartOptions.fill" [dataLabels]="chartOptions.dataLabels" [title]="chartOptions.title"
            [yaxis]="chartOptions.yaxis" [grid]="chartOptions.grid" [legend]="chartOptions.legend"
            [tooltip]="chartOptions.tooltip"></apx-chart>
          <p class="text-muted my-2 ms-3" style="font-size: 110%"> <b style="font-size: 130%">Indication</b> : Variation
            anormale du Brut sur l'année</p>
        </div>
      </div>
    </div>
    <div class="col-xl-7 d-flex flex-column">
      <div class="row">
        <div class="col-xl-5">
          <div class="card">
            <div class="card-body d-flex justify-content-around align-items-center">
              <span class="text-muted" style="font-size: 150%; font-weight: bold;">Anomalies détectées</span>
              <span style="font-size: 200%; color: white;">41</span>
            </div>
          </div>
        </div>
        <div class="col-xl-7 d-flex">
          <div class="card mini-stats-wid flex-fill">
            <div class="card-body">
              <div class="row d-flex align-items-center" style="height: 100%;">
                <div class="col-xl-3">
                  <p class="text-muted text-center mb-0" style="font-size: 150%; height: 100%; font-weight: bold;">Etat</p>
                </div>
                <div class="col-xl-9 d-flex flex-row justify-content-around align-items-center" style="height: 100%;">
                  <div class="form-check form-radio-outline form-radio-success">
                    <input class="form-check-input" type="radio" name="formRadio2" id="formRadio2" checked>
                    <label class="form-check-label text-muted" for="formRadio2">
                      Tous
                    </label>
                  </div>
                  <div class="form-check form-radio-outline form-radio-success">
                    <input class="form-check-input" type="radio" name="formRadio2" id="formRadio2" checked>
                    <label class="form-check-label text-muted" for="formRadio2">
                      Contrôlés
                    </label>
                  </div>
                  <div class="form-check form-radio-outline form-radio-success">
                    <input class="form-check-input" type="radio" name="formRadio2" id="formRadio2" checked>
                    <label class="form-check-label text-muted" for="formRadio2">
                      Non contrôlés
                    </label>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="card flex-fill">
        <div class="card-body d-flex flex-column justify-content-md-between">
          <div class="row mb-3 align-items-center">
            <div class="col-6">
              <h4 class="card-title mb-0">Détails des anomalies</h4>
            </div>
            <div class="col-6 text-md-end">
              <div class="btn-group" role="group">
                <input type="radio" class="btn-check" name="stat1" id="stat1" autocomplete="off" [value]="true"
                  [(ngModel)]="vue_mensuelle">
                <label class="btn btn-outline-warning" for="stat1">Anomalies</label>

                <input type="radio" class="btn-check" name="stat2" id="stat2" autocomplete="off" [value]="false">
                <label class="btn btn-outline-warning" for="stat2">Bulletins</label>
              </div>
            </div>
          </div>
          <div class="table-responsive">
            <table class="table table-centered table-nowrap">
              <thead class="table-light">
                <tr>
                  <th>Matricule</th>
                  <th>Indication</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let table of tables$ | async">
                  <th>{{table.matricule}}</th>
                  <td>{{table.indication}}</td>
                </tr>
              </tbody>
            </table>
          </div>
          <div class="row justify-content-md-between align-items-md-center mt-2">
            <div class="col-sm-12 col-md-5">
              <div class="dataTables_info" id="tickets-table_info" role="status" aria-live="polite">
                <span *ngIf="service.totalRecords == 0">
                  Affichage de {{ service.startIndex }} à {{ service.endIndex }} sur {{ service.totalRecords }} lignes
                </span>
                <span *ngIf="service.totalRecords != 0">
                  Affichage de {{ service.startIndex + 1 }} à {{ service.endIndex }} sur {{ service.totalRecords }} lignes
                </span>
              </div>
            </div>
            <div class="col-sm-12 col-md-5">
              <div class="text-md-right float-md-end pagination-rounded">
                <ngb-pagination [collectionSize]="total$ | async" [(page)]="service.page" [pageSize]="service.pageSize"
                  maxSize="3" rotate="true"></ngb-pagination>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>