<div class="container-fluid">
  <div class="row mb-4 align-items-center">
    <div class="col-sm-6">
      <div class="page-title-box p-0">
        <h4 class="mb-0 font-size-18">Bulletins à flaguer</h4>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-xl-12">
      <div class="card">
        <div class="card-body">
          <div class="row mb-3">
            <label class="col-md-auto col-form-label text-muted" style="font-size: 110%">Sélectionner une catégorie :</label>
            <div class="col-md">
              <select class="form-select">
                <option>Tous</option>
              </select>
            </div>
          </div>
          <div class="row">
            <label class="col-md-auto col-form-label text-muted" style="font-size: 110%">Sélectionner un motif :</label>
            <div class="col-md">
              <select class="form-select">
                <option>Premiers bulletins</option>
              </select>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xl-5 d-flex">
          <div class="card mini-stats-wid flex-fill">
            <div class="card-body">
              <div class="media" style="height: 100%;">
                <div class="media-body text-center"
                  style="height: 100%; display: flex; flex-direction: column; justify-content: space-around;">
                  <p class="text-muted" style="font-size: 150%; font-weight: bold;">Anomalies détectées</p>
                  <h4 class="mb-0" style="font-size: 200%;">20</h4>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xl-7 d-flex">
          <div class="card mini-stats-wid flex-fill">
            <div class="card-body">
              <div class="row d-flex align-items-center" style="height: 100%;">
                <div class="col-xl-5">
                  <p class="text-muted text-center mb-0" style="font-size: 200%; height: 100%;">Etat</p>
                </div>
                <div class="col-xl-7 d-flex flex-column justify-content-around" style="height: 100%;">
                  <div class="form-check form-radio-outline form-radio-success">
                    <input class="form-check-input" type="radio" name="formRadio2" id="formRadio2" checked>
                    <label class="form-check-label text-muted" for="formRadio2">
                      Tous
                    </label>
                  </div>
                  <div class="form-check form-radio-outline form-radio-success">
                    <input class="form-check-input" type="radio" name="formRadio2" id="formRadio2" checked>
                    <label class="form-check-label text-muted" for="formRadio2">
                      Contrôlés
                    </label>
                  </div>
                  <div class="form-check form-radio-outline form-radio-success">
                    <input class="form-check-input" type="radio" name="formRadio2" id="formRadio2" checked>
                    <label class="form-check-label text-muted" for="formRadio2">
                      Non contrôlés
                    </label>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="card">
        <div class="card-body">
          <h4 class="card-title mb-4">Liste des bulletins</h4>

          <div class="table-responsive">
            <table class="table mb-0">
              <thead class="table-light">
                <tr>
                  <th>Matricule</th>
                  <th>Indication</th>
                  <th>Actions</th>

                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let item of dataFlag">
                  <th>{{item['Matricule']}}</th>
                  <td>{{item['Indication']}}</td>
                  <td>
                    <div ngbDropdown placement="bottom-left">
                      <i class="mdi mdi-dots-vertical dropdown-toggle font-size-20" ngbDropdownToggle data-toggle="dropdown"
                        aria-expanded="true"></i>
                      <div class="dropdown-menu dropdown-menu-end" ngbDropdownMenu>
                        <a class="dropdown-item">
                          <i class="bx bx-show text-info font-size-20"></i>
                          Voir les détails
                        </a>
                        <a class="dropdown-item">
                          <i class="bx bx-download text-success font-size-20"></i>
                          Annoter le bulletin
                        </a>
                      </div>
                    </div>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
    
  </div>

</div>