<div class="container-fluid">
  <div class="row mb-4 align-items-center">
    <div class="col-sm-6">
      <div class="page-title-box p-0">
        <h4 class="mb-0 font-size-18">{{data1['text']}}</h4>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-12">
      <div class="card">
        <div class="card-body">
          <div class="row">
            <label class="col-md-auto col-form-label text-muted" style="font-size: 110%">Sélectionner une population :</label>
            <div class="col-md">
              <select class="form-select">
                <option>Apprentis</option>
                <option>Stagaire</option>
                <option>Contrat pro</option>
              </select>
            </div>
          </div>
        </div>
      </div>
      <div class="card">
        <div class="card-body">
          <h4 class="card-title mb-4">Liste des bulletins</h4>

          <div class="table-responsive">
            <table class="table mb-0">
              <thead class="table-light">
                <tr>
                  <th>Matricule</th>
                  <th>Période</th>
                  <th>Statut</th>
                  <th>Actions</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let item of dataMasse">
                  <th>{{item['Matricule']}}</th>
                  <td>{{item['Periode']}}</td>
                  <td>{{item['Statut']}}</td>
                  <!-- <td>{{item['Catégorie']}}</td>
                  <td>{{item['Contrat particulier']}}</td> -->
                  
                  <td>
                    <div ngbDropdown placement="bottom-left">
                      <i class="mdi mdi-dots-vertical dropdown-toggle font-size-20" ngbDropdownToggle data-toggle="dropdown"
                        aria-expanded="true"></i>
                      <div class="dropdown-menu dropdown-menu-end" ngbDropdownMenu>
                        <a class="dropdown-item" [routerLink]="['/bulletin']" [queryParams]="{matricule:item['Matricule'],bulletin:item['Bulletin'],contrat:item['Contrat']}">
                          <i class="bx bx-show text-info font-size-20"></i>
                          Voir les détails
                        </a>
                        <a class="dropdown-item">
                          <i class="bx bx-download text-success font-size-20"></i>
                          Annoter le bulletin
                        </a>
                      </div>
                    </div>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
    
  </div>

</div>