button[type="submit"] {
  &:hover {
    background-color: #3b98ad !important;
  }

  &:focus {
    background-color: #34879a !important;
  }
}

.row > ngx-spinner .la-ball-newton-cradle {
  top: 25% !important;
}

.btn-group label {
  margin-top: 8px;
}

.dropdown-toggle {
  cursor: pointer;
}

.dropdown-menu {
  .dropdown-item {
    cursor: pointer;

    i {
      margin-right: 5px;
      vertical-align: middle;
    }
  }
}
