<div class="container-fluid">
  <div class="row mb-4 align-items-center">
    <div class="col-sm-6">
      <div class="page-title-box p-0">
        <h4 class="mb-0 font-size-18">Tableau de bord</h4>
      </div>
    </div>
  </div>

  <div class="card">
    <div class="card-body">
      <div class="row">
        <label class="col-md-auto col-form-label text-muted" style="font-size: 110%">Sélectionner un établissement :</label>
        <div class="col-md">
          <select class="form-select" (change)="onChange($event.target.value)">
            <option value="LMFR_M084-TOURCOING 2">LMFR_M084-TOURCOING 2</option>
            <option value="LMFR_M061-MARTIGUES">LMFR_M061-MARTIGUES</option>
            <option>POMONA PF MILLERY</option>
            <option>POMONA PF CHILLY MAZARIN</option>
            <option>POMONA PF CARQUEFOU 2<option>
             <option> DELICE & CREATION CBP 67</option>
            <option> POMONA EPISAVEURS NORD NORMANDIE CHAMPAG<option>
             <option>POMONA PF TRESSES</option>
            <option>POMONA TA IDF WISSOUS</option>
            <option>POMONA TA REZE<option>
             <option>TA NOYAL SUR VILAINE</option>
            <option>POMONA TA IDF RUNGIS<option>
             <option> DELICE & CREATION LA BERRICHONNE<option> 
             <option> POMONA EPISAVEURS ILE DE FRANCE</option>
            <option> DELICE ET CREATION ROUX<option>
             <option> POMONA EPISAVEURS LE PONTET</option>
            <option> POMONA EPISAVEURS BRETAGNE<option>
              <option>LMFR_M029-CHELLES</option>
<option>LMFR_M041-PAU</option>
 <option>LMFR_M084-TOURCOING 2</option>
<option>LMFR_M081-NIORT</option>
<option>LMFR_M028-LE MANS</option>
 <option>LMFR_M064-ROUEN</option>
<option>LMFR_M060-CAEN</option>
<option>LMFR_M004-LONGUEAU</option>
 <option>LMFR_M051-POITIERS</option>
<option>LMFR_M003-MERLIMONT</option>
<option>LMFR_M048-ARRAS</option>
 <option>LMFR_M183-DOUAI 2</option>
<option>LMFR_S400-SERVICES INTERNES FRANCE</option>
 <option>LMFR_M021-VITRY</option>
<option>LMFR_M142-IVRY SUR SEINE</option>
<option>LMFR_M140-AUBAGNE 2</option>
 <option>LMFR_M195-AVIGNON 2</option>
<option>LMFR_M006-NICE</option>
<option>LMFR_M025-TOURS SUD</option>
 <option>LMFR_M022-BONNEUIL</option>
<option>LMFR_M012-LENS</option>
<option>LMFR_M036-CHARTRES</option>
 <option>LMFR_M071-BAYONNE</option>
<option>LMFR_M053-NANTES</option>
<option>LMFR_M037-BORDEAUX</option>
 <option>LMFR_M164-BETHUNE</option>
<option>LMFR_M151-BOULIAC</option>
<option>LMFR_M159-CALAIS 3</option>
 <option>LMFR_M116-COLLEGIEN</option>
<option>LMFR_M115-ST DENIS</option>
<option>LMFR_M024-STE GENEVIEVE</option>
 <option>LMFR_M018-DIJON</option>
<option>LMFR_E305-ENTREPOT DOURGES</option>
<option>LMFR_M069-AMIENS</option>
 <option>LMFR_M184-LE HAVRE 2</option>
<option>LMFR_M010-MONTSOULT</option>
<option>LMFR_M050-MAUBEUGE</option>
 <option>LMFR_M030-DUNKERQUE</option>
<option>LMFR_M049-MERIGNAC</option>
<option>LMFR_M005-RENNES SUD</option>
 <option>LMFR_M148-DREUX</option>
<option>LMFR_M185-MEAUX</option>
<option>LMFR_M013-MONTIGNY</option>
 <option>LMFR_M047-TOULON</option>
<option>LMFR_R405-DIRECTION REGIONALE RHONE ALPES</option>
 <option>LMFR_M019-BOURGES</option>
<option>LMFR_M139-LA ROCHELLE 2</option>
<option>LMFR_M192-FREJUS</option>
 <option>LMFR_M014-VALENCIENNES</option>
<option>LMFR_M023-OSNY</option>
<option>LMFR_M137-VALLAURIS</option>
 <option>LMFR_M032-LESQUIN</option>
<option>LMFR_M066-CABRIES</option>
<option>LMFR_M156-BORDEAUX GRADIGNAN</option>
 <option>LMFR_M043-BOULOGNE</option>
<option>LMFR_M027-LORIENT</option>
<option>LMFR_M076-MARSEILLE LITTORAL</option>
 <option>LMFR_M196-LA MADELEINE</option>
<option>LMFR_M171-PERPIGNAN 3</option>
<option>LMFR_M089-ST OUEN 2</option>
 <option>LMFR_M080-NIMES</option>
<option>LMFR_M054-ANGERS</option>
<option>LMFR_M186-REIMS CORMONTREUIL 2</option>
 <option>LMFR_M073-LIVRY</option>
<option>LMFR_M045-MASSY</option>
<option>LMFR_M111-COLOMIERS</option>
 <option>LMFR_M015-MONTPELLIER</option>
<option>LMFR_M026-LYON</option>
<option>LMFR_M085-GRAND PARILLY</option>
 <option>LMFR_M163-MELUN 2</option>
<option>LMFR_M077-BRIE COMTE ROBERT</option>
<option>LMFR_M176-AGEN</option>
 <option>LMFR_M088-ALBI</option>
<option>LMFR_M040-STRASBOURG</option>
 <option>LMFR_R402-DIRECTIONS REGIONALES PARIS</option>
<option>LMFR_M150-TOULOUSE ROQUES</option>
 <option>LMFR_M046-ST BRIEUC</option>
<option>LMFR_M173-BIGANOS</option>
<option>LMFR_M188-MANTES 3</option>
 <option>LMFR_M189-MONTAUBAN</option>
<option>LMFR_M016-LOGNES</option>
<option>LMFR_M194-GRENOBLE 2</option>
 <option>LMFR_M072-GENNEVILLIERS</option>
<option>LMFR_M063-ROSNY</option>
<option>LMFR_M199-LA VIGIE 2</option>
 <option>LMFR_M119-LA VALENTINE</option>
<option>LMFR_M157-MULHOUSE</option>
 <option>LMFR_M158-PERPIGNAN RIVESALTES</option>
<option>LMFR_M059-TOURS NORD</option>
 <option>LMFR_M143-BOIS D'ARCY</option> 
 <option>LMFR_M162-BESANCON 2</option>
<option>LMFR_M052-METZ</option>
 <option>LMFR_M182-PARIS DAUMESNIL</option>
<option>LMFR_M168-ST ETIENNE 2</option>
 <option>LMFR_M147-RENNES NORD</option>
<option>LMFR_M117-LYON TASSIN</option>
<option>LMFR_M190-PARIS 19</option>
 <option>LMFR_M160-LA ROCHE SUR YON</option>
<option>LMFR_M146-VANNES</option>
<option>LMFR_M056-NANCY NORD</option>
 <option>LMFR_M187-BLOIS</option>
<option>LMFR_M180-NANTERRE</option>
<option>LMFR_M154-ANNEMASSE</option>
 <option>LMFR_R406-DIRECTION REGIONALE SUD OUEST</option>
<option>LMFR_M177-ANNECY</option>
 <option>LMFR_M178-DINARD</option>
<option>LMFR_M110-TOULOUSE BALMA</option>
 <option>LMFR_R407-DIRECTION REGIONALE SUD EST</option>
<option>LMFR_M135-MACON</option>
 <option>LMFR_M155-PERIGUEUX</option>
<option>LMFR_M166-VALENCE</option>
<option>LMFR_M174-CHOLET</option>
 <option>LMFR_E309-ENTREPOTS IDF1</option>
<option>LMFR_M020-ORLEANS</option>
 <option>LMFR_M161-RUEIL MALMAISON</option>
<option>LMFR_M078-COMPIEGNE</option>
<option>LMFR_M197-MUNDOLSHEIM</option>
 <option>LMFR_M074-FORBACH</option>
<option>LMFR_M198-LAVAL 2</option>
<option>LMFR_M145-METZ TECHNOPOLE</option>
 <option>LMFR_M075-BELFORT</option>
<option>LMFR_M130-NANCY SUD</option>
 <option>LMFR_M153-MONTPELLIER ST AUNES</option>
<option>LMFR_M039-CHARLEVILLE</option>
 <option>LMFR_M101-BEZIERS</option>
<option>LMFR_M191-BEAUVAIS</option>
<option>LMFR_M011-VILLENEUVE</option>
 <option>LMFR_M144-REIMS NORD</option>
<option>LMFR_M165-ANGOULEME</option>
 <option>LMFR_E455-PFU GENNEVILLIERS</option>
<option>LMFR_M172-GONESSE</option>
<option>LMFR_M169-VOURLES</option>
 <option>LMFR_M067-ISNEAUVILLE</option>
<option>LMFR_M100-ST ETIENNE STEEL</option>
<option>LMFR_M167-THOIRY</option>
 <option>LMFR_M181-QUIMPER</option>
<option>LMFR_M082-HAGUENAU 2</option>
<option>LMFR_M175-BRIVE</option>
 <option>LMFR_R403-DIRECTION REGIONALE NORD</option>
<option>LMFR_M193-BREST</option>
 <option>LMFR_M055-BEAUBOURG</option>
<option>LMFR_M112-CHATEAUROUX</option>
 <option>LMFR_R404-DIRECTION REGIONALE OUEST</option>
<option>LMFR_E307-ENTREPOT VALENCE</option>
 <option>LMFR_R409-DIRECTION REGIONALE NORD OUEST</option>
<option>LMFR_M133-CLERMONT</option>
 <option>LMFR_R413-DIRECTION REGIONALE CENTRE</option>
<option>LMFR_M179-CHERBOURG</option>
 <option>LMFR_M205-PARIS BATIGNOLLES</option>
<option>LMFR_E447-ENTREPOTS REAU</option>
 <option>LMFR_R408-DIRECTION REGIONALE EST</option>

          </select>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-xl-2 d-flex">
      <div class="card mini-stats-wid flex-fill">
        <div class="card-body">
          <div class="media" style="height: 100%;">
            <div class="media-body text-center"
              style="height: 100%; display: flex; flex-direction: column; justify-content: space-around;">
              <p class="text-muted" style="font-size: 150%; font-weight: bold;">Matricules</p>
              <h4 class="mb-0" style="font-size: 300%;">{{dash['Matricule']}}</h4>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xl-2 d-flex">
      <div class="card mini-stats-wid flex-fill">
        <div class="card-body">
          <div class="media" style="height: 100%;">
            <div class="media-body text-center"
              style="height: 100%; display: flex; flex-direction: column; justify-content: space-around;">
              <p class="text-muted" style="font-size: 150%; font-weight: bold;">Bulletins</p>
              <h4 class="mb-0" style="font-size: 300%;">{{dash['Bulletin']}}</h4>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xl-2 d-flex">
      <div class="card mini-stats-wid flex-fill">
        <div class="card-body">
          <div class="media" style="height: 100%;">
            <div class="media-body text-center"
              style="height: 100%; display: flex; flex-direction: column; justify-content: space-around;">
              <p class="text-muted" style="font-size: 150%; font-weight: bold;">Effectif</p>
              <h4 class="mb-0" style="font-size: 300%;">197</h4>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xl-6">
      <div class="card">
        <div class="card-body">
          <h4 class="card-title mb-4">Catégorie</h4>
          <apx-chart class="apex-charts" dir="ltr" [series]="simplePieChart.series" [chart]="simplePieChart.chart"
            [labels]="simplePieChart.labels" [legend]="simplePieChart.legend" [colors]="simplePieChart.colors"
            [responsive]="simplePieChart.responsive">
          </apx-chart>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-xl-9">
      <div class="card">
        <div class="card-body">
          <!-- <h4 class="card-title mb-4">Line with Data Labels</h4> -->
          <apx-chart class="apex-charts" dir="ltr" [series]="linewithDataChart.series" [chart]="linewithDataChart.chart"
            [colors]="linewithDataChart.colors" [stroke]="linewithDataChart.stroke" [dataLabels]="linewithDataChart.dataLabels"
            [responsive]="linewithDataChart.responsive" [legend]="linewithDataChart.legend" [xaxis]="linewithDataChart.xaxis"
            [yaxis]="linewithDataChart.yaxis" [stroke]="linewithDataChart.stroke">
          </apx-chart>
        </div>
      </div>
    </div>
    <div class="col-xl-3 d-flex flex-column">
      <div class="card mini-stats-wid flex-fill">
        <div class="card-body">
          <div class="media" style="height: 100%;">
            <div class="media-body text-center"
              style="height: 100%; display: flex; flex-direction: column; justify-content: space-around;">
              <p class="text-muted" style="font-size: 150%; font-weight: bold;">Taux d'absentéisme</p>
              <h4 class="mb-0" style="font-size: 300%;">2 %</h4>
            </div>
          </div>
        </div>
      </div>
      <div class="card mini-stats-wid flex-fill">
        <div class="card-body">
          <div class="media" style="height: 100%;">
            <div class="media-body text-center"
              style="height: 100%; display: flex; flex-direction: column; justify-content: space-around;">
              <p class="text-muted" style="font-size: 150%; font-weight: bold;">Taux de rotation</p>
              <h4 class="mb-0" style="font-size: 300%;">5 %</h4>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-6">
      <div class="card">
        <div class="card-body">
          <h4 class="card-title mb-4">Charges Patronales</h4>

          <apx-chart class="apex-charts" dir="ltr" [series]="chargesPatronalesChart.series" [chart]="chargesPatronalesChart.chart"
            [plotOptions]="chargesPatronalesChart.plotOptions" [yaxis]="chargesPatronalesChart.yaxis"
            [grid]="chargesPatronalesChart.grid" [tooltip]="chargesPatronalesChart.tooltip"
            [stroke]="chargesPatronalesChart.stroke" [dataLabels]="chargesPatronalesChart.dataLabels"
            [xaxis]="chargesPatronalesChart.xaxis" [colors]="chargesPatronalesChart.colors" [fill]="chargesPatronalesChart.fill">
          </apx-chart>
        </div>
      </div>
    </div>
    <div class="col-lg-6">
      <div class="card">
        <div class="card-body">
          <h4 class="card-title mb-4">Charges Salariales</h4>

          <apx-chart class="apex-charts" dir="ltr" [series]="chargesSalarialesChart.series" [chart]="chargesSalarialesChart.chart"
            [plotOptions]="chargesSalarialesChart.plotOptions" [yaxis]="chargesSalarialesChart.yaxis"
            [grid]="chargesSalarialesChart.grid" [tooltip]="chargesSalarialesChart.tooltip"
            [stroke]="chargesSalarialesChart.stroke" [dataLabels]="chargesSalarialesChart.dataLabels"
            [xaxis]="chargesSalarialesChart.xaxis" [colors]="chargesSalarialesChart.colors" [fill]="chargesSalarialesChart.fill">
          </apx-chart>
        </div>
      </div>
    </div>
  </div>
</div>